################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/k6/FileContentIndex/05f3a5fd-7cba-4166-aeca-80b67ed446e4.vsidx
/.vs/k6/FileContentIndex/5e87f353-cbde-494f-b71a-bb0d9f738f05.vsidx
/.vs/k6/FileContentIndex/aa8ef4d2-0a9a-4384-a389-697d3c7b4975.vsidx
/.vs/k6/FileContentIndex/e2d8dfd1-0a77-45fa-9504-5b0bfb73c979.vsidx
